Repository lusergit/astarte: changes, and which Codecov flags are due for each by the changed paths.
All: AppEngine API, Data Updater Plant, Housekeeping, Housekeeping API, Pairing, Pairing API, Realm Management, Realm Management API, Trigger Engine

codecov.yml:

codecov:
  branch: release-1.2-test
coverage:
  range: 60..100
  round: down
  precision: 1
  status:
    patch: off
    project:
      default:
        threshold: 1%
        branches:
          - "!master"

ignore:
  - "apps/*/test"

comment:
  layout: "header, diff, files, components"
  require_changes: yes

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id:  astarte_appengine_api
      name: AppEngine API
      paths:
        - apps/astarte_appengine_api/**
        - apps/astarte_appengine_api/*
    - component_id:  astarte_data_updater_plant
      name: Data Updater Plant
      paths:
        - apps/astarte_data_updater_plant/**
        - apps/astarte_data_updater_plant/*
    - component_id: astarte_housekeeping
      name: Housekeeping
      paths:
        - apps/astarte_housekeeping/**
        - apps/astarte_housekeeping/*
    - component_id: astarte_housekeeping_api
      name: Housekeeping API
      paths:
        - apps/astarte_housekeeping_api/**
        - apps/astarte_housekeeping_api/*
    - component_id: astarte_pairing
      name: Pairing
      paths:
        - apps/astarte_pairing/**
        - apps/astarte_pairing/*
    - component_id: astarte_pairing_api
      name: Pairing API
      paths:
        - apps/astarte_pairing_api/**
        - apps/astarte_pairing_api/*
    - component_id: astarte_realm_management
      name: Realm Management
      paths:
        - apps/astarte_realm_management/**
        - apps/astarte_realm_management/*
    - component_id: astarte_realm_management_api
      name: Realm Management API
      paths:
        - apps/astarte_realm_management_api/**
        - apps/astarte_realm_management_api/*
    - component_id: astarte_trigger_engine
      name: Trigger Engine
      paths:
        - apps/astarte_trigger_engine/**
        - apps/astarte_trigger_engine/

AE: add device helper cases
  apps/astarte_appengine_api/test/support/helpers/device.ex
Due: AppEngine API

AE add tests for device get_interface_values
  apps/astarte_appengine_api/test/astarte_appengine_api/device/device_reading_v2_test.exs
  apps/astarte_appengine_api/test/support/helpers/device.ex
Due: AppEngine API

chore(AE): add static code analysis tools
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/mix.lock
Due: AppEngine API

chore(HK): add static code analysis tools
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping/mix.lock
Due: Housekeeping

chore(P_API): add static code analysis tools
  apps/astarte_pairing_api/mix.exs
  apps/astarte_pairing_api/mix.lock
Due: Pairing API

chore(DUP): add static code analysis tools
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
Due: Data Updater Plant

chore(PAIRING): add static code analysis tools
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing/mix.lock
Due: Pairing

chore(HKAPI): add static code analysis tools
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_housekeeping_api/mix.lock
Due: Housekeeping API

chore(RMA): add static code analysis tools
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_realm_management_api/mix.lock
Due: Realm Management API

chore(TE): add static code analysis tools
  apps/astarte_trigger_engine/mix.exs
  apps/astarte_trigger_engine/mix.lock
Due: Trigger Engine

chore(RM): add static code analysis tools
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management/mix.lock
Due: Realm Management

refactor: move `data_updater` and `message_tracker` retrieval to DataUpdater
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater.ex
Due: Data Updater Plant

reafctor: move `install_volatile_trigger` logic
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/rpc/server.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/rpc/server/core.ex
Due: Data Updater Plant

test(DUP): new test!
  .github/codecov.yml
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater/new_test.exs
  codecov.yml
Due: Data Updater Plant

test(DUP): another dup test
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater/new_test.exs
Due: Data Updater Plant

ci: carryforward flags
  .github/codecov.yml
Due: none

ci: codecov stuff
  .github/codecov.yml
Due: none

ci: codecov flags
  .github/codecov.yml
Due: none

test(DUP): clustering strategies
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater/new_test.exs
Due: Data Updater Plant

feat(RM): better logging
  apps/astarte_realm_management/lib/astarte_realm_management/engine.ex
Due: Realm Management

ci stuff
  .github/codecov.yml
Due: none

ci: ci stuff
  .github/workflows/astarte-apps-build-workflow.yaml
Due: none

fake change
  apps/astarte_pairing/lib/astarte_pairing/engine.ex
  apps/astarte_pairing/test/astarte_pairing/engine_test.exs
Due: Pairing

chore(RM): add realm management dependency
  apps/astarte_realm_management_api/mix.exs
Due: Realm Management API

refactor(RM): move `install_new_interface` in RM API
  apps/astarte_realm_management_api/.formatter.exs
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/interfaces/interfaces.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/interfaces/migrations/create_datastream_individual_multi_interface.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/interfaces/queries.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/controllers/interface_controller.ex
  apps/astarte_realm_management_api/test/astarte_realm_management_api/interfaces/interfaces_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/controllers/interface_controller_test.exs
  apps/astarte_realm_management_api/test/test_helper.exs
Due: Realm Management API

chore: update README badges
  README.md
Due: none

refactor: readability improved
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/core/device.ex
Due: Data Updater Plant

doc: update realm management readme
  apps/astarte_realm_management_api/README.md
Due: Realm Management API

feat(dup): adding device capabilities support
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/core/capabilities_handler.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/core/error.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/queries.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/server.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/state.ex
  apps/astarte_data_updater_plant/test/support/database_test_helper.ex
  apps/astarte_data_updater_plant/test/support/helpers/database.ex
Due: Data Updater Plant

test(dup): device capabilities
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/server.ex
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater/core/capabilities_handler_test.exs
Due: Data Updater Plant

chore: update astarte core, data_access and generators
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater/core/trigger_handler_test.exs
  apps/astarte_data_updater_plant/test/support/helpers/device.ex
  apps/astarte_realm_management/lib/astarte_realm_management/interfaces/queries.ex
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management/mix.lock
Due: Data Updater Plant, Realm Management

feat(dup): provide amqp trigger producer separate configuraion
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/config.ex
Due: Data Updater Plant

feat(dup): initialise separate amqp trigger producer
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/amqp_triggers_producer.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/producers_supervisor.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/triggers_handler.ex
Due: Data Updater Plant

[WIP] feat(dup): support vhost creation
  apps/astarte_data_updater_plant/config/config.exs
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/producers_supervisor.ex
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
Due: Data Updater Plant
